h1 {
  font-family: var(--h1-font);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  color: var(--h1-color);
  letter-spacing: var(--h1-letter-spacing);
  line-height: 1.2;
  margin: var(--content-margin);
  margin-top: var(--content-head-margin);
  margin-bottom: var(--content-head-margin);
}

h2 {
  font-family: var(--h2-font);
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  color: var(--h2-color);
  letter-spacing: var(--h2-letter-spacing);
  text-transform: var(--h2-text-transform);
  line-height: 1.4;
  margin: var(--content-margin);
  margin-top: var(--content-head-margin);
  margin-bottom: var(--content-head-margin);
}

.content p {
  font-family: var(--content-p-font);
  font-size: var(--content-p-size);
  font-weight: var(--content-p-weight);
  color: var(--content-p-color);
  line-height: var(--content-p-line-height);
  max-width: 680px;
  margin: var(--content-head-margin) var(--content-margin);
}