.hero {
  background-color: var(--hero-bg-color);
  color: var(--hero-text-color);
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.hero.with-image {
  background-image: linear-gradient(var(--overlay-dark), var(--overlay-dark)), url("photographer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}